*.pyc
*.pyd

.DS_Store

Cargo.lock

run_bridge_*.ps1
run_boytacean_rom_*.ps1
/build-local-sdl.ps1
/build-and-run-local.ps1

/.vscode/settings.json

/.eggs
/.venv
/.idea
/.claude

/.venv-*

/ndk
/dist
/build
/target
/reports
/aarch64-linux-gnu
/res/roms.prop
/res/roms.gba/prop
/frontends/*/target
/frontends/*/ndk

/src/gen/build.rs
/src/gen/_build.rs

/src/python/boytacean.egg-info
